In [1]:
import pandas as pd

In [2]:
DATA = '../data'

In [3]:
adult_census = pd.read_csv(f'{DATA}/census1994.csv')
adult_census.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,=50K

In [4]:
adult_census.income = adult_census.income.map(
    {'=50K': '<=50K', '50K': '>50K'})

In [5]:
adult_census.income.unique()

array(['<=50K', '>50K'], dtype=object)

In [6]:
adult_census.income.value_counts()

income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [8]:
target_col = 'income'
numerics = [
    'age', 'education_num', 'capital_gain', 'capital_loss',
    'hours_per_week']
categoricals = [
    'workclass', 'education', 'marital_status', 'occupation',
    'relationship', 'race', 'sex', 'native_country']
all_cols = numerics + categoricals + [target_col]
df = adult_census[all_cols]
df.shape

(32561, 14)