In [12]:
import ssl 
import pandas as pd

ssl._create_default_https_context = ssl._create_unverified_context

In [13]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/INRIA/scikit-learn-mooc/main/'
    'datasets/adult-census-numeric.csv')
print(df.shape)
df.head()

(39073, 5)

   age  capital-gain  capital-loss  hours-per-week   class
0   41             0             0              92   <=50K
1   48             0             0              40   <=50K
2   60             0             0              25   <=50K
3   37             0             0              45   <=50K
4   73          3273             0              40   <=50K

In [14]:
target = 'class'
y = df[target]
y.value_counts()

class
 <=50K    29736
 >50K      9337
Name: count, dtype: int64

In [15]:
X = df.drop(columns=[target])
X.head()

   age  capital-gain  capital-loss  hours-per-week
0   41             0             0              92
1   48             0             0              40
2   60             0             0              25
3   37             0             0              45
4   73          3273             0              40