In [1]:
import ssl

import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/INRIA/scikit-learn-mooc/main/'
    'datasets/adult-census-numeric.csv')
print(df.shape)
df.head()

(39073, 5)

   age  capital-gain  capital-loss  hours-per-week   class
0   41             0             0              92   <=50K
1   48             0             0              40   <=50K
2   60             0             0              25   <=50K
3   37             0             0              45   <=50K
4   73          3273             0              40   <=50K

In [3]:
target = 'class'
y = df[target]
y.value_counts()

class
 <=50K    29736
 >50K      9337
Name: count, dtype: int64

In [4]:
X = df.drop(columns=[target])
X.head()

   age  capital-gain  capital-loss  hours-per-week
0   41             0             0              92
1   48             0             0              40
2   60             0             0              25
3   37             0             0              45
4   73          3273             0              40

In [5]:
mod = KNeighborsClassifier().fit(X, y)

In [6]:
fitted = mod.predict(X)
fitted[:5]

array([' >50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K'], dtype=object)

In [7]:
y[:5]

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: class, dtype: object

In [8]:
# Acc:
(fitted == y).sum() / len(y)

0.8219486602001382

### Train-Test Split

In [9]:
df_test = pd.read_csv(
    'https://raw.githubusercontent.com/INRIA/scikit-learn-mooc/main/'
    'datasets/adult-census-numeric-test.csv')
print(df_test.shape)

(9769, 5)

In [10]:
X_test = df_test.copy()
y_test = X_test.pop(target)

In [14]:
test_acc = mod.score(X_test, y_test)
mod_type = mod.__class__.__name__
print(f'{mod_type} test acc: {test_acc:.4f}')

KNeighborsClassifier test acc: 0.8020