In [8]:
import ssl

import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/INRIA/scikit-learn-mooc/main/'
    'datasets/adult-census.csv')
print(df.shape)
df.head()

(48842, 14)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
numerics = ['age', 'capital-gain', 'capital-loss', 'hours-per-week']
y = df['class']
X = df[numerics]

In [7]:
mod = make_pipeline(StandardScaler(), LogisticRegression())

In [9]:
%%time
cv_res = cross_validate(mod, X, y, cv=5)

CPU times: user 1.57 s, sys: 976 ms, total: 2.54 s
Wall time: 423 ms

In [10]:
cv_res

{'fit_time': array([0.06150508, 0.06039596, 0.05583286, 0.05208993, 0.05488491]),
 'score_time': array([0.01296592, 0.01454306, 0.01350522, 0.01613617, 0.00994897]),
 'test_score': array([0.79557785, 0.80049135, 0.79965192, 0.79873055, 0.80436118])}

In [13]:
scores = cv_res['test_score']
cv_acc = scores.mean()
cv_std = scores.std()
print(f'Acc: {cv_acc:.3f} ± {cv_std:.3f}')

Acc: 0.800 ± 0.003