# Multiple Regression I

Use house sales in King County (WA) to predict prices using multiple regression.

### Imports

In [7]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression

%matplotlib inline

In [2]:
sales = pd.read_csv('../../../data/kc_house_data.csv')
sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Create additional variables

In [5]:
sales['bedrooms_squared'] = (sales['bedrooms']) ** 2
sales['bed_bath_rooms'] = sales['bedrooms'] * sales['bathrooms']
sales['log_sqft_living'] = np.log(sales['sqft_living'])
sales['lat_plus_long'] = sales['lat'] + sales['long']

In [6]:
sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,0,98178,47.5112,-122.257,1340,5650,9,3.00,7.073270,-74.7458
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,1991,98125,47.7210,-122.319,1690,7639,9,6.75,7.851661,-74.5980
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,0,98028,47.7379,-122.233,2720,8062,4,2.00,6.646391,-74.4951
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,0,98136,47.5208,-122.393,1360,5000,16,12.00,7.580700,-74.8722
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,0,98074,47.6168,-122.045,1800,7503,9,6.00,7.426549,-74.4282

### Training/Test Split

In [8]:
X = sales.iloc[:, 3:]
y = sales['price']

(X_train, X_test, y_train, y_test) = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Learning a Multiple Regression Model

### Use different features for different models

In [9]:
mod1_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']
mod2_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']
mod3_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms', 'bedrooms_squared', 
                 'log_sqft_living', 'lat_plus_long']

In [15]:
lr1 = LinearRegression()
lr1.fit(X_train.ix[:, mod1_features], y_train)

lr2 = LinearRegression()
lr2.fit(X_train.ix[:, mod2_features], y_train)

lr3 = LinearRegression()
lr3.fit(X_train.ix[:, mod3_features], y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### Examine model coefficients

In [57]:
print('%s\t%s\t%s %s\t%s\t%s\t%s\t%s\t%s\t%s\t%s'    
      %('Model', 'Intercept', 'sqft_lvg', 'bed', 'bath', 'lat', 'long', 'bed x bath', 'bath^2', 'log_sqf', 'lat_lon'))
print('%s\t%.0f\t%.0f\t%.0f\t %.0f\t%.0f\t%.0f' 
      %('mod1 ', lr1.intercept_, lr1.coef_[0], lr1.coef_[1], lr1.coef_[2], lr1.coef_[3], lr1.coef_[4]))
print('%s\t%.0f\t%.0f\t%.0f\t%.0f\t%.0f\t%.0f\t %.0f' 
      %('mod2 ', lr2.intercept_, lr2.coef_[0], lr2.coef_[1], lr2.coef_[2], lr2.coef_[3], lr2.coef_[4], lr2.coef_[5]))
print('%s\t%.0f\t%.0f\t %.0f\t %.0f\t%.0f\t%.0f\t%.0f\t\t%.0f\t%.0f\t%.0f' 
      %('mod3 ', lr3.intercept_, lr3.coef_[0], lr3.coef_[1], lr3.coef_[2], lr3.coef_[3], lr3.coef_[4], lr3.coef_[5], 
        lr3.coef_[6], lr3.coef_[7], lr3.coef_[8]))

Model	Intercept	sqft_lvg bed	bath	lat	long	bed x bath	bath^2	log_sqf	lat_lon
mod1 	-70870846	313	-53096	 14777	653983	-325707
mod2 	-68606820	307	-104605	-70182	650591	-309966	 24944
mod3 	-62628450	538	 2780	 101364	530798	-409655	-18182		725	-571030	121143

### Compute RSS

NOTE: sklearn models had a `residues_` member, but it is deprecated, and will be removed in 0.19, so a function is provided here

In [64]:
# Residual sum of squares
def get_rss(mod, X, y):
    predictions = mod.predict(X)
    sq_error = [(pred - actual) ** 2 for (pred, actual) in zip(predictions, y)]
    RSS = sum(sq_error)
    return(RSS)

print 'RSS:'
print 'mod1:', get_rss(lr1, X_train.ix[:, mod1_features], y_train)
print 'mod2:', get_rss(lr2, X_train.ix[:, mod2_features], y_train)
print 'mod3:', get_rss(lr3, X_train.ix[:, mod3_features], y_train)

print lr1.residues_
print lr2.residues_
print lr3.residues_ # ???

RSS:
mod1: 9.79843597588e+14
mod2: 9.7079919973e+14
mod3: 9.13653644975e+14
9.79843597588e+14
9.7079919973e+14
[]

/Users/dsp/anaconda/lib/python2.7/site-packages/sklearn/utils/__init__.py:93: DeprecationWarning: Function residues_ is deprecated; ``residues_`` is deprecated and will be removed in 0.19
  warnings.warn(msg, category=DeprecationWarning)
/Users/dsp/anaconda/lib/python2.7/site-packages/sklearn/utils/__init__.py:93: DeprecationWarning: Function residues_ is deprecated; ``residues_`` is deprecated and will be removed in 0.19
  warnings.warn(msg, category=DeprecationWarning)
/Users/dsp/anaconda/lib/python2.7/site-packages/sklearn/utils/__init__.py:93: DeprecationWarning: Function residues_ is deprecated; ``residues_`` is deprecated and will be removed in 0.19
  warnings.warn(msg, category=DeprecationWarning)

...and on test data

In [65]:
print 'RSS:'
print 'mod1:', get_rss(lr1, X_test.ix[:, mod1_features], y_test)
print 'mod2:', get_rss(lr2, X_test.ix[:, mod2_features], y_test)
print 'mod3:', get_rss(lr3, X_test.ix[:, mod3_features], y_test)

RSS:
mod1: 2.13487129319e+14
mod2: 2.10778544169e+14
mod3: 2.03972051918e+14